[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "anticlust"]
	path = anticlust
	url = https://github.com/m-py/anticlust
[submodule "prmisc"]
	path = prmisc
	url = https://github.com/m-py/prmisc
