[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "anticlust"]
	path = anticlust
	url = https://github.com/m-py/anticlust
	shallow = true
	registered = true
